asgiref==3.8.1
captcha==0.6.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
Django==4.2.16
django-allauth==65.2.0
django-crispy-forms==2.3
django-form-builder==1.2.1
django-form-utils==1.0.3
filesig==0.3.0.post1
idna==3.10
pillow==11.0.0
pycparser==2.22
PyJWT==2.10.0
requests==2.32.3
signals==0.0.2
sqlparse==0.5.2
urllib3==2.2.3
wheel==0.45.0
